@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    transition: 0.2s ease-in;
}

body {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    z-index: 2;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    background-color: #dddddd;
    border: 1px solid #cccccc;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation {
    z-index: 4;
    width: 100%;
    height: 75px;
    background-color: #cccccc;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navContainer {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

#navContainer h1 {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

.navItem {
    z-index: 5;
    display: flex;
    align-items: center;
}

#roomInput {
    width: 180px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    outline: none;
    padding: 5px;
}

#joinRoom,
#leaveRoom {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
    height: 35px;
    width: 65px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #bbbbbb;
    outline: none;
}

#joinRoom:hover,
#leaveRoom:hover {
    transform: scale(0.9);
    background-color: #dddddd;
}

pre {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
    font-size: larger;
}

#chat {
    background-color: rgba(255, 255, 255, 0);
    height: calc(100% - 60px);
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

#messages {
    background-color: aquamarine;
    height: calc(100% - 125px);
    overflow-y: scroll;
}

#inputArea {
    background-color: aqua;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputForm {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#inputForm button {
    width: 150px;
}

#chatInput {
    box-sizing: border-box;
    width: 750px;
    padding: 15px;
    font-size: 30px;
}

#emojiInput,
#send {
    font-size: 27.5px;
    font-weight: bold;
}

#chatInput,
#emojiInput,
#send {
    height: 50px;
    border-radius: 17.5px;
    border: 1px solid #bbbbbb;
    outline: none;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

#emojiInput:hover,
#send:hover {
    transform: scale(0.95);
    background-color: #dddddd;
}

#chatInput:hover {
    transform: scale(0.975);
    background-color: #eeeeee;
}